# Big Data Ph1
### Group 1

Refal Alammari - 
Leen Alharbi -
Ruba abdulkhaleq

### 1 - Dataset:

Salaries of jobs in the Data Science domain

#### 1.1 - Data size:

In [ ]:
import pandas as pd
df = pd.read_csv('ds_salaries.csv')
rows, columns = df.shape
print(f"Dataset Size: {rows} rows and {columns} columns")


#### 1.2 - content:

In [ ]:
print(df.head())

#### 1.3 - Format:

In [ ]:
print(df.dtypes)


#### 1.4 - URL: 
Our dataset source is Kaggle : https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries?select=ds_salaries.csv

### 2 - Genral info about the Dataset

In [ ]:
import pandas as pd
data_attributes = [
    {'Column': 'work_year', 'Description': 'The year the salary was paid.', 'Type': 'Interval'},
    {'Column': 'experience_level', 'Description': 'The experience level in the job during the year.', 'Type': 'Ordinal'},
    {'Column': 'employment_type', 'Description': 'The type of employment for the role.', 'Type': 'Nominal'},
    {'Column': 'job_title', 'Description': 'The role worked in during the year.', 'Type': 'Nominal'},
    {'Column': 'salary', 'Description': 'The total gross salary amount paid.', 'Type': 'Ratio'},
    {'Column': 'salary_currency', 'Description': 'The currency of the salary paid as an ISO 4217 code. ', 'Type': 'Nominal'},
    {'Column': 'salary_in_usd', 'Description': 'The salary in USD (adjusted by exchange rate).', 'Type': 'Ratio'},
    {'Column': 'employee_residence', 'Description': 'Employee\'s primary country of residence during the year.', 'Type': 'Nominal'},
    {'Column': 'remote_ratio', 'Description': 'The amount of work done remotely.', 'Type': 'Ordinal'},
    {'Column': 'company_location', 'Description': 'The country of the employer\'s main office.', 'Type': 'Nominal'},
    {'Column': 'company_size', 'Description': 'The average number of people working for the company.', 'Type': 'Ordinal'}
]
attributes_df = pd.DataFrame(data_attributes)
attributes_df

#### 2.2 - shortcuts

In [ ]:
import pandas as pd

abbreviation_data = [
    {'Column': 'experience_level', 'Shortcut': 'EN', 'Meaning': 'Entry-level / Junior'},
    {'Column': 'experience_level', 'Shortcut': 'MI', 'Meaning': 'Mid-level / Intermediate'},
    {'Column': 'experience_level', 'Shortcut': 'SE', 'Meaning': 'Senior-level / Expert'},
    {'Column': 'experience_level', 'Shortcut': 'EX', 'Meaning': 'Executive-level / Director'},
    
    {'Column': 'employment_type', 'Shortcut': 'PT', 'Meaning': 'Part-time'},
    {'Column': 'employment_type', 'Shortcut': 'FT', 'Meaning': 'Full-time'},
    {'Column': 'employment_type', 'Shortcut': 'CT', 'Meaning': 'Contract'},
    {'Column': 'employment_type', 'Shortcut': 'FL', 'Meaning': 'Freelance'},
    
    {'Column': 'salary_currency', 'Shortcut': 'USD', 'Meaning': 'United States Dollar'},
    {'Column': 'salary_currency', 'Shortcut': 'EUR', 'Meaning': 'Euro'},
    
    {'Column': 'employee_residence', 'Shortcut': 'US', 'Meaning': 'United States'},
    {'Column': 'employee_residence', 'Shortcut': 'DE', 'Meaning': 'Germany'},
    
    {'Column': 'company_location', 'Shortcut': 'US', 'Meaning': 'United States'},
    {'Column': 'company_location', 'Shortcut': 'DE', 'Meaning': 'Germany'},
    
    {'Column': 'company_size', 'Shortcut': 'S', 'Meaning': 'Small (<50 employees)'},
    {'Column': 'company_size', 'Shortcut': 'M', 'Meaning': 'Medium (50 to 250 employees)'},
    {'Column': 'company_size', 'Shortcut': 'L', 'Meaning': 'Large (>250 employees)'}
]

abbreviations_df = pd.DataFrame(abbreviation_data)
abbreviations_df

In [ ]:
import shutil

folder_path = 'Group1_ph1'

output_filename = 'Ph1_BS'

shutil.make_archive(output_filename, 'zip', folder_path)